<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= set.name %></title>
    <link href="/css/main.css" rel="stylesheet">
    
</head>
<body>
    <%- include('partials/_navbar') %>
    <div class="container mx-auto">
        <div class="set-detail">
            <h1 class="text-3xl font-bold my-4"><%= set.name %></h1>
            <img src="<%= set.img_url %>" alt="<%= set.name %>" class="set-img">
            <div class="details">
                <p><strong>Set Number:</strong> <%= set.set_num %></p>
                <p><strong>Year:</strong> <%= set.year %></p>
                <p><strong>Theme:</strong> <%= set.Theme.name %></p>
                <p><strong>Number of Parts:</strong> <%= set.num_parts %></p>
            </div>
            <div id="quote" class="quote"></div>
            <a href="#" onclick="history.back(); return false;" class="back-button">Go Back</a>
        </div>
    </div>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
      fetch('https://quotable.io/random')
        .then(response => response.json())
        .then(data => {
          const quoteElement = document.getElementById('quote');
          quoteElement.innerHTML = `<p>${data.content}</p><p>- ${data.author}</p>`;
        })
        .catch(error => console.error('Error fetching quote:', error));
    });
    </script>
</body>
</html>